extends ../layout

block content

  div(class="text-danger page-header")
    a(href='teas/new' class="btn btn-success pull-right") Add tea, yo
    h1 I GOTS TEAS MANGE!

  table(class="table")
    thead
      th Name
      th Country
      th Price
      th Reorderable
    tbody
      each tea in teas
        tr
          td= tea.name
          td #{tea.country}
          td= tea.price
          td= tea.reorderable ? "YES!" : "NO :("
